# **Predicting Stock Returns with Elliot Waves**

## *Neural Network and Random Forest Classifiers*

### *Michele Orlandi ISYE6767 Fall 2022*

# 1. **Setup**

## 1.1 **Packages and Classes**

In [1]:
import os
import sys
sys.path.append(os.getcwd())
import gc
import warnings
import pandas as pd
import numpy as np
import sklearn
import plotly.graph_objects as go
import seaborn as sns
from feat_eng import Engineer
from reader import Reader
from processor import Processor

In [2]:
gc.enable()
warnings.filterwarnings('ignore')

## 1.2 **Import 10 Stocks Data**

In [3]:
# input parameters
start_date = '2000-01-01'
end_date = '2021-11-12'

In [4]:
# read tickers from given file
tickers = pd.read_csv('./tickers.csv')['Ticker'].to_list()
tickers

['FIX', 'TSLA', 'CNP', 'DLTR', 'WMS', 'HAS', 'HIBB', 'RHI', 'TGT', 'WBA']

In [5]:
# create reader object
reader_1 = Reader(tickers=tickers, start=start_date, end=end_date)

In [6]:
# retrieve data frames
dfs = reader_1.read()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
# preprocess data
processor = Processor()
engineer = Engineer()

In [8]:
# input parameters for technical indicators
fractal_period, holding_period = 5, 5
fast, slow, signal = 5, 34, 5
tide, wave, ripple = 5, 13, 34

In [9]:
# clean data and engineer predictor variables
# also get prediction variable
for t in dfs.keys():
    dfs[t] = engineer.engineer_features(
        dfs[t],
        period=fractal_period,
        fast=fast,
        slow=slow,
        signal=signal,
        tide=tide,
        wave=wave,
        ripple=ripple,
        holding_period=holding_period
    )
    gc.collect()

In [10]:
dfs[list(dfs.keys())[0]].head(20)

,Open,High,Low,Close,Adj Close,Volume,macd_pos,macd_neg,alligator_pos,alligator_neg,tops,bottoms,squat,prediction
Date,,,,,,,,,,,,,,
2000-01-03,7.3750,7.3750,6.8750,7.0625,5.730294,76600,0,0,0,0,0,0,0,0
2000-01-04,7.0000,7.1875,6.9375,6.9375,5.628873,70200,0,0,0,0,0,0,0,0
2000-01-05,6.9375,7.1250,6.9375,7.0000,5.679584,45400,0,0,0,0,0,0,0,0
2000-01-06,6.9375,7.1250,6.9375,7.0000,5.679584,38300,0,0,0,0,0,1,0,0
2000-01-07,6.9375,7.0625,6.9375,6.9375,5.628873,54300,0,0,0,0,0,0,1,0
2000-01-10,7.0000,7.0625,7.0000,7.0000,5.679584,53300,0,0,0,0,0,0,0,0
2000-01-11,7.0000,7.0000,6.8750,6.9375,5.628873,69800,0,0,0,0,0,0,0,0
2000-01-12,6.8750,7.0000,6.7500,6.8125,5.527452,117300,0,0,0,0,0,1,0,0
2000-01-13,6.8750,7.1875,6.8125,7.0000,5.679584,75100,0,0,0,0,1,0,0,0
2000-01-14,7.0625,7.1875,7.0625,7.1875,5.831717,83400,0,0,0,0,1,0,1,1
2000-01-18,7.0625,7.1875,7.0625,7.1875,5.831717,79800,0,0,0,0,1,0,0,1
2000-01-19,7.0000,7.1250,6.9375,7.1250,5.781004,46400,0,0,0,0,0,1,0,1
2000-01-20,7.0625,7.0625,6.9375,7.0000,5.679584,122400,0,0,0,0,0,1,1,1
2000-01-21,6.9375,7.1250,6.9375,7.0000,5.679584,50500,0,0,0,0,0,1,0,0
2000-01-24,7.1250,7.2500,7.0625,7.1250,5.781004,159600,0,0,0,0,1,0,1,0
2000-01-25,7.2500,7.2500,7.1250,7.1875,5.831717,110700,0,0,0,0,1,0,0,0
2000-01-26,7.1875,7.2500,7.1250,7.1875,5.831717,79000,0,0,0,0,0,0,0,1
2000-01-27,7.1875,7.1875,7.0000,7.0625,5.730294,30300,0,0,0,0,0,1,0,1
2000-01-28,7.0625,7.3125,7.0625,7.2500,5.882425,45200,0,0,0,0,1,0,1,1
2000-01-31,7.1250,7.3125,7.0000,7.0000,5.679584,99600,0,0,0,0,1,0,1,0